*{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    border: 3px solid green;
    border-style: hidden;
    margin-bottom: 200px;
}

.nav{
    margin-top: 20 px;
    border: 3px solid green;
    border-style: hidden;
}

.item{
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}

.container .nav .item a {
    text-decoration: none;
}

.container .nav .item a:hover{
    font-size: 60px;
    color: red;
}


